body {
    background: #F7F7F7;
}
#addCar {
    width: 2.4rem;
    height: .67rem;
    line-height: .67rem;
    background: #D0121B;
    border-radius: .33rem;
    text-align: center;
    font-size: .25rem;
    font-weight: 800;
    color: #FFFFFF;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1.23rem;
    margin: auto;
}
.car-item {
    width: 7.02rem;
    height: 1.63rem;
    background: #FFFFFF;
    border-radius: .27rem;
    margin: .2rem auto;
    overflow: hidden;
    position: relative;
}
.car-num {
    width: 2rem;
    height: .32rem;
    line-height: .32rem;
    font-size: .32rem;
    font-weight: bold;
    color: #333333;
    margin: .46rem 0 0 .3rem;
}
.car-type {
    width: 1rem;
    height: .22rem;
    font-size: .22rem;
    font-family: PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: .22rem;
    margin: .2rem 0 0 .3rem;
    text-indent: .12rem;
    position: relative;
}
.car-type::before {
    content: '';
    display: inline-block;
    width: .09rem;
    height: .09rem;
    border-radius: 50%;
    background: #ED6D6D;
    position: absolute;
    left: 0;
    top: 0.06rem;
}
.car-status {
    text-align: right;
    width: .8rem;
    height: .22rem;
    line-height: .22rem;
    font-size: .22rem;
    font-weight: 400;
    color: #D0141E;
    position: absolute;
    top: .2rem;
    right: .3rem;
}
.car-confirm {
    width: 1.25rem;
    height: .44rem;
    line-height: .44rem;
    background: #D0141E;
    border-radius: .21rem;
    text-align: center;
    font-size: .24rem;
    font-weight: 400;
    color: #FFFFFF;
    position: absolute;
    top: .6rem;
    right: .3rem;
}
.car-tip {
    width: 7.02rem;
    font-size: .22rem;
    font-weight: 400;
    color: #999999;
    height: .22rem;
    line-height: .22rem;
    margin:0 auto;
}